# Sistemas operativos
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Entorno de desarrollo de IDEs
.vscode/
.idea/

# Dependencias
/vendor/

# Archivos temporales
*.tmp
*.swp

# Directorio de cachés
/storage/cache/

# Archivos de configuración sensibles
/.env

# Node modules
/node_modules/
